body, html{
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    font-family: "Outfit", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: auto;
}
.container{
    
    width: 100%; 
    height: 100%; 
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.title{
    background-color: rgb(0, 36, 78);
    height: 12vh;
    width: 55vh;
    min-width: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 40px;
    border-radius: 10px;
    border: 2px solid white;
    overflow: hidden;
}
#rps{
    color: white;
    font-size: 1.8rem;
    font-weight:600;
}
.movesBox{
    height: 22vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.moves{
    height: 100%;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    cursor: pointer;
    overflow: hidden;
}

.pickYourMove{
    height: 9vh;
    width: 35vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:rgb(194, 225, 236);
    border-radius: 10px;
    border: 2px solid rgb(0, 36, 78);
}
#pym{
    font-size: 1.3rem;
    font-weight: 650;
    color: rgb(0, 36, 78);
    display: flex;
    align-items: center;
    justify-content: center;
}
.score{
    display: flex;
    justify-content: center;
    width: 60vh;
    height: 10vh;
    gap: 2.5vh;
}
.scoreBox{
    height: 100%;
    width:50%;
    text-align: center;
    font-size: 1.2rem;
    background-color: rgb(0, 36, 78);
    color: white;
    border-radius: 10px;
    border: 2px solid white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
img{
    width: 20vh;
    height: 20vh;
    object-fit:contain;
    cursor: pointer;
    transition: transform 0.3s ease; 
}
img:hover{
    transform: scale(1.05); 
}

.msgContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 12vh;
    width: 85vh;
    gap: 10px;
}
.msgBox{
    background-color: rgb(0, 35, 78);
    border-radius: 7px;
    border: 2px solid white;
    height: 12vh;
    width: 60vh;
    display: none;
    color: white;
    text-align: center;
    font-weight: 560;
}
.restart{
    background-color: rgb(0, 35, 78);
    border-radius: 7px;
    border: 2px solid white;
    height: 12vh;
    width: 25vh;
    line-height: 12vh;
    text-align: center;
    cursor: pointer;
    display: none;
    color: white;
    font-weight: 560;
    font-size: 1.2rem;
    transition: transform 0.3s ease; 
}
.restart:hover{
    transform: scale(1.05); 
}
/* @media(min-width: 992px) and (max-width:1199px){
    #rps{
        font-size: 1.6rem;
    }
    #pym{
        font-size: 1.3rem;
    } 
    #score{
        font-size: 1.3rem;
    }
}
 @media(min-width: 767px) and (max-width:991px){
    #rps{
        font-size: 1.6rem;
    }
    #pym{
        font-size: 1.3rem;
    }
    .scoreBox{
        font-size: 1rem;
    }
 }
 @media(min-width: 481px) and (max-width:767px){
    #rps{
        font-size: 1.3rem;
    }
    #pym{
        font-size: 1rem;
    }
    .scoreBox{
        font-size: 1rem;
    }
 } */
/* @media(max-width:480px){
    #rps{
        font-size: 1.2rem;
    }
    #pym{
        font-size: 1rem;
    }
    .scoreBox{
        font-size: 1rem;
    }
    img{
        width: 18vh;
    }
    .score{
        width: 55vh;
    }
}
@media(max-width:400px){
    #rps{
        font-size: 1.1rem;
    }
    #pym{
        font-size: .9rem;
    }
    .score{
        width: 40vh;
    }
    .scoreBox{
        font-size: 1rem;
    }
    img{
        width: 14vh;
    }
    .title{
        width:50vh;
        height: 13vh;
    }
}
@media(max-width:323px) {
    #rps{
        font-size: 1rem;
    }
} */
 @media(max-width:426px){
    img{
        width: 16vh;
    }
    .movesBox{
        height: 16vh;
    }
    .title{
        width: 45vh ;
        height: 11vh;
    }
    #rps{
        font-size: 1.5rem;
    }
    #pym{
        font-size: 1.3rem;
    }
    .scoreBox{
        font-size: 1.1rem;
    }
    .score{
        width: 45vh;
    }
    .msgBox{
        width: 46vh;
        height: 10vh;
        font-size: 0.88rem;
    }
    .msgContainer{
        flex-direction: column;
    }
    .container{
        justify-content: space-around;
    }
    .restart{
        height: 10vh;
        line-height: 10vh;
        font-size: 1.1rem;
    }
 }
